@import "tailwindcss";
:root{
  --scale:min(2.5vw,20px);
}
@theme{
--color-latte:#FaE0C8;
--color-cream:#E7C691;
--color-coffee:#6D4021;
--color-blackcoffee:#271C14;
--color-darkblue:#1B1C20;
}

@layer base{
body {
  margin: 0;
  min-height: 100vh;
  background: #EEDDB2;
  color:#EEDDB2;
  
}
body.darkmode {
  background: #1B1C20;
  color: inherit;
}

body.darkmode p, body.darkmode h1, body.darkmode h2 {
  color: #FaE0C8;
}


body.darkmode #toolbar {
  background: #2B2E34;
}

#mira{
  @apply text-[calc(var(--scale)*6)] text-blackcoffee
}
body {
}
  html{
    font-family:"DM Serif Text",serif;
  }
  div{
    @apply py-4 px-1 text-coffee font-bold text-[calc(var(--scale))] z-10;
  }
  
  h1{
  @apply text-coffee font-bold text-[calc(var(--scale)*1.7)] ;
  }
  p{
      @apply px-2 text-coffee font-bold text-[calc(var(--scale))] ;
  }
  li{
      @apply flex place-items-center-safe;
  }
  #toolbar{
    @apply bg-amber-50;
  }
  }

/*
@layer components{
  
}
*/
@utility round{
  @apply rounded-2xl;
} 
@utility icon{
  @apply w-[calc(var(--scale)*1.2)] h-[calc(var(--scale)*1.2)] place-self-start
}
@utility img{
  @apply w-[calc(var(--scale)*40)] h-[calc(var(--scale)*30)] place-self-start ;
}